<!-- <h1 class="main-title" >Record a Test Center Officer profile!</h1><br>
<div class=page-content>
  <h2 class="main-title" >Please enter the details below</h2><br>
  <b>Test Center Officer username: </b><input class="entryfield-input" type="text" placeholder="Enter the Test Officer username here..."><br><br>
  <b>Test Center Officer password: </b><input class="entryfield-input" type="text" placeholder="Enter the Test Officer password here..."><br><br>
  <b>Test Center Officer name: </b><input class="entryfield-input" type="text" placeholder="Enter the Test Officer name here..."><br><br><br><br>
  <button mat-raised-button class ="create-btn">Register Offcier Profile</button><br><br><br><br>
  <a routerLink="/manager-home"><button mat-raised-button class="manager-home-btn">Back to Manager Home</button></a>
  <router-outlet></router-outlet>
</div> -->

<mat-card>
  <h1 class="main-title" >Record a Test Center Officer profile!</h1>
  <form (submit) = "onCreateTCOProfile(testCOForm)" #testCOForm = "ngForm">
    <div class=page-content>
      <!-- <h6 class="main-title">Enter the Test Centre Officer username below</h6><br> -->
      <mat-form-field>
        <input
          matInput
          name="username"
          type="text"
          placeholder="Enter test centre officer username here..."
          ngModel
          #testCentreProfileNameInput="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreProfileNameInput.invalid">Please enter a valid username</mat-error>
      </mat-form-field>

      <!-- <h6 class="main-title">Enter the Test Centre Officer password below</h6><br> -->
      <mat-form-field>
        <input
          matInput
          name="password"
          type="password"
          placeholder="Enter test centre officer password here..."
          ngModel
          #testCentreProfilePasswordInput="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreProfilePasswordInput.invalid">Please enter a password</mat-error>
      </mat-form-field>

      <!-- <h3 class="main-title">Enter the Test Centre name below</h3><br> -->
      <mat-form-field>
        <input
          matInput
          name="name"
          type="text"
          placeholder="Enter test centre officer name here..."
          ngModel
          minlength="3"
          #testCentreProfileNameInput="ngModel"
          required><br><br>
          <mat-error *ngIf="testCentreProfileNameInput.invalid">Please enter a name</mat-error>
      </mat-form-field>

    <button
    mat-raised-button
    class="create-btn"
    type="submit">Create</button>
    </div>
  </form>
</mat-card>
