<h1 class="main-title">Record a new test for Daniel Toh</h1>
<div class="record-test-page-content">
  <table class="test-details-list">
    <tr>
      <td class="cell-padding" valign="top"><h3 class="record-test-title">Username:</h3></td>
      <td class="cell-padding" valign="top"><p class="record-test-title">danieltoh16</p></td>
    </tr>
    <tr>
      <td class="cell-padding" valign="top"><h3 class="record-test-title">Password:</h3></td>
      <td class="cell-padding" valign="top"><p class="record-test-title">****************</p></td>
    </tr>
    <tr>
      <td class="cell-padding" valign="top"><h3 class="record-test-title">Full name:</h3></td>
      <td class="cell-padding" valign="top"><p class="record-test-title">Daniel Nicholas Figueras Toh</p></td>
    </tr>
    <tr>
      <td class="cell-padding" valign="top"><h3 class="record-test-title">Patient type:</h3></td>
      <td class="cell-padding" valign="bottom"><select class="patient-type-dropdown">
        <option disabled selected>--Select an option from the dropdown below--</option>
        <option>Returnee</option>
        <option>Quarantined</option>
        <option>Close contact</option>
        <option>Infected</option>
        <option>Suspected</option>
      </select></td>
    </tr>
    <tr>
      <td class="cell-padding" valign="top"><h3 class="record-test-title">Symptoms:</h3></td>
      <td class="results-textarea" valign="bottom"><textarea type="text" class="results-input"
        placeholder="Type the symptoms patient is suffering from here..."></textarea></td>
    </tr>
  </table>
</div>
<div class=record-btn-container>
  <button mat-raised-button class="record-btn">Record new test</button>
</div>
<div class=page-footer>
  <a routerLink="/tester-home"><button mat-raised-button class="back-btn">Back to tester home</button></a>
</div>
