<!-- <h1 class="main-title">Select the test kit you wish to update</h1> -->
<mat-accordion multi="true" *ngIf="testKits.length>0">
  <mat-expansion-panel *ngFor="let testkit of testKits">
    <mat-expansion-panel-header>
      {{testkit.testkitname}}
    </mat-expansion-panel-header>
    <p>{{testkit.testkitstock}}</p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit',testkit.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(testkit.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="testKits.length == 0">No test kit added yet</p>

<div class="page-footer">
  <a routerLink="/manager-home"><button mat-raised-button class="back-btn">Back to Manager Home</button></a>
</div>
