<h1 class="main-title" >Welcome back Tester!</h1><br>
<div class=page-content>
  <h2 class="main-title" >What do you want to do?</h2><br>
  <a routerLink="/select-patient"><button mat-raised-button class="tester-home-btn">Record New Test</button></a><br><br>
  <a routerLink="/enter-test-id"><button mat-raised-button class="tester-home-btn">Update Test Result</button></a><br><br>
  <a routerLink="/generate-report-tester"><button mat-raised-button class="tester-home-btn">Generate Test Report</button></a><br><br><br><br><br><br>
  <a routerLink="/login"><button mat-raised-button class="logout-btn">Logout</button></a>
</div>
