<h1 class="main-title">Testing history for Patient</h1>
<div class=page-content>
  <table class="test-id-list">
    <tr class="row-border">
      <th class="cell-padding">Test ID</th>
      <th class="cell-padding">Date</th>
      <th class="cell-padding">Patient Type</th>
      <th class="cell-padding">Symptomps</th>
    </tr>
    <tr class="row-border">
      <td class="cell-padding">TEST-001</td>
      <td class="cell-padding">4/10/2020</td>
      <td class="cell-padding">Returnee</td>
      <td class="symptomps-cell">-</td>
    </tr>
    <tr class="row-border">
      <td class="cell-padding">TEST-002</td>
      <td class="cell-padding">15/10/2020</td>
      <td class="cell-padding">Quarantined</td>
      <td class="symptomps-cell">Runny nose, High fever, Sore throat, Respiratory pain, Sharp pain in abdomen, Severe headaches,
        Difficulty in breathing, Accelerated heart rate, Cold perspiration, Shallow breathing</td>
    </tr>
    <tr class="row-border">
      <td class="cell-padding">TEST-011</td>
      <td class="cell-padding">30/1/2021</td>
      <td class="cell-padding">Close contact</td>
      <td class="symptomps-cell">Runny nose</td>
    </tr>
    <tr class="row-border">
      <td class="cell-padding">TEST-101</td>
      <td class="cell-padding">4/3/2021</td>
      <td class="cell-padding">Infected</td>
      <td class="symptomps-cell">Severe headaches, Difficulty in breathing, Shallow breathing, Lung infection, Constant coughing fits,
        Coughing out blood, Blurred vision, Stroke, Anaemia, Accelerated heart rate, Rupture in pulmonary vein, Respiratory pain,
        Kidney stone, Lung cancer stage 2
      </td>
    </tr>
    <tr class="row-border">
      <td class="cell-padding">TEST-225</td>
      <td class="cell-padding">12/12/2020</td>
      <td class="cell-padding">Suspected</td>
      <td class="symptomps-cell">-</td>
    </tr>
  </table>
</div>
<div class="page-footer">
  <a routerLink="/patient-home"><button mat-raised-button class="back-btn">Back to patient home</button></a>
</div>
