<app-header></app-header>
<div class="toolbar">
  <main>
    <!-- <a routerLink="/login"><button mat-raised-button class="toolbar-btn">Login</button></a> -->
    <a routerLink="/manager-home"><button mat-raised-button class="toolbar-btn">Test Center Manager</button></a>
    <a routerLink="/tester-home"><button mat-raised-button class="toolbar-btn">Tester</button></a>
    <a routerLink="/patient-home"><button mat-raised-button class="toolbar-btn">Patient</button></a>
    <router-outlet></router-outlet>
  </main>
</div>
