<h1 class="main-title" >Welcome back Test Center Manager!</h1><br>
<div class=page-content>
  <h2 class="main-title" >What do you want to do?</h2><br>
  <a routerLink="/register-kit"><button mat-raised-button class="test-kit-create-btn">Register new Test Kit</button></a>
  <br><br>
  <a routerLink="/update-kit"><button mat-raised-button class="test-kit-create-btn">Update Test Kit</button></a><br><br><br><br>
  <a routerLink="/manager-home"><button mat-raised-button class="manager-home-btn">Back to Manager Home</button></a><br><br>
  <a routerLink="/login"><button mat-raised-button class="logout-btn">Logout</button></a>
  <router-outlet></router-outlet>
</div>
