<h1 class="main-title">Select the test result you wish to update</h1>
<div class=enter-test-id-page-content>
  <h2 class="main-title" >Enter test ID</h2>
  <input type="text" class="id-input" placeholder="Copy test ID and paste it here">
  <a routerLink="/update-test-result"><button mat-raised-button class="select-btn">Select the test</button></a><br>
  <h2 class="main-title" >List of tests conducted by Tester</h2>
  <table class="test-id-list">
    <tr class="row-border">
      <th class="cell-padding">Test ID</th>
      <th class="cell-padding">Date</th>
      <th class="cell-padding">Patient Username</th>
      <th class="cell-padding">Patient Name</th>
      <th class="cell-padding">Patient Type</th>
      <th class="cell-padding">Symptomps</th>
    </tr>
    <tr class="row-border">
      <td class="cell-padding">TEST-001</td>
      <td class="cell-padding">4/10/2020</td>
      <td class="cell-padding">danieltoh708</td>
      <td class="cell-padding">Daniel Nicholas Figueras Toh</td>
      <td class="cell-padding">Close Contact</td>
      <td class="symptomps-cell">Fever, Cold, Sore muscles</td>
    </tr>
    <tr class="row-border">
      <td class="cell-padding">TEST-002</td>
      <td class="cell-padding">1/10/2020</td>
      <td class="cell-padding">adibraup336</td>
      <td class="cell-padding">Muhd Adib Awg Raup</td>
      <td class="cell-padding">Quarantined</td>
      <td class="symptomps-cell">-</td>
    </tr>
  </table>
</div>
<div class="page-footer">
  <a routerLink="/tester-home"><button mat-raised-button class="back-btn">Back to tester home</button></a>
</div>
